
<h3>new dragonball component</h3>
<br>
<section class="row">
    <div class="col-12 col-sm-6">
        <h3>Agregar:</h3>
        <input type="text" class="form-control" placeholder="nombre"/>
        <input type="number" class="form-control mt-2" placeholder="poder"/>

        <button class="mt-2 btn btn-primary"> Agregar </button>
    </div>
    <div class="col-12 col-sm-6">
        <h3>listado</h3>
        <ol>
            <li>Goku</li>
            <li>Goku</li>
            <li>Goku</li>
            <li>Goku</li>
            <li>Goku</li>
        </ol>
    </div>
</section>
